$font_family: "Lato", sans-serif;
$font_weight: 400;
$font_size: 16px;
$color_main: #ffffff;
$color_italic: #689ff2;
$color_grey: #515773;
$color_btn: #53f3cd;
$primary_color: #161926;
$background_add: #e5e5e5;
$color_focus: #02e0ab;
$width_content: 1170px;
$adaptive_width_content: calc($width_content / 2);
