%btn {
   font-weight: 700;
   font-size: 20px;
   line-height: 1;
   letter-spacing: 0.08em;
   text-transform: uppercase;
   color: $color_btn;
   background: transparent;
   border: none;
   &:focus {
      color: $color_focus;
   }
}

%input-text {
   font-size: 18px;
   font-family: Playfair Display;
   font-style: italic;
   line-height: 20px;
   letter-spacing: 1.44px;
}
