$font_family: "Lato", sans-serif;
$font_weight: 400;
$font_size: 16px;
$color_main: #262a3f;
$color_green: #85bbb1;
$color_grey: #e4e4e4;
$color_coral: #f1897b;
$primary_color: #ffffff;
$background_add: #e5e5e5;
$color_hover_red: #e54f3a;

$width_content: 1170px;
$adaptive_width_content: calc($width_content / 2);
